.ui.cards .card {
    position: relative;
    height: 300px;
    width: 200px;
    margin: 10px;
}

.ui.cards .button-div {
    /*width: 30px;*/
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    /*text-align: center;*/
}
